@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap");
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Red Hat Display', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url(./minireset.min.css);
@media (min-width: 960px) {
  .mainWrapper {
    margin-top: 250px;
  }
  .mainWrapper h2 {
    font-size: 68px;
    text-align: left;

    margin-left: 200px;
  }
  .mainWrapper p {
    font-size: 25px;
    margin-left: 200px;
  }
  .mainWrapper img {
    width: 55vw;
  }
  .linkContainer img {
    width: 38px;
    left: 130px;
  }
  .linkContainer h2 {
    font-size: 74px;
    margin-left: 180px;
  }
  .linkContainer h2 span {
    font-size: 74px;
  }
  .linkContainer p {
    font-size: 21.5px;
    margin-top: 25px;
    margin-left: 180px;
  }
  .linkContainer .linkWrapper {
    width: 50vw;
    margin-left: 40vw;
  }
  .linkContainer h6 {
    font-size: 18px;
  }
  .linkContainer a {
    font-size: 33px;
    display: block;
    height: 100%;
  }
  .linkContainer .linkWrapper div {
    width: 40%;
    padding-left: 15px;
    padding-top: 25px;
    height: 200px;
  }
  .linkContainer .linkWrapper div:hover {
    background-color: #000;
  }
  .linkContainer .linkWrapper div:hover a {
    color: #fff;
  }

  .linkContainer .linkWrapper div:last-child {
    margin-top: 120px;
  }
  .aboutBox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  .aboutBox h2 {
    font-size: 74px;
    padding-top: 150px;
    padding-left: 200px;
  }
  .aboutBox .textWrapper {
    margin: 150px 300px 0 0;
  }
  .aboutBox .textBox {
    width: 30vw;
  }
  .aboutBox .textBox h3 {
    font-size: 26px;
    margin-left: 5vw;
  }
  .aboutBox .textBox span {
    font-size: 18px;
  }
  .aboutBox a {
    padding-left: 5px;
    font-size: 26px;
    font-weight: 700;
  }
  .skillWrapper h2 {
    font-size: 64px;
    margin-top: 220px;
    margin-left: 200px;
  }
  .skillWrapper img {
    width: 38px;
    top: -10px;
    left: 160px;
  }
  .skillWrapper div:nth-child(3) {
    margin-top: 130px;
  }
  .skillWrapper div {
    width: 70vw;
    display: flex;
  }
  .skillWrapper div h3 {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    margin-left: 250px;
    width: 20vw;
  }
  .skillWrapper div menu {
    font-size: 18px;
    line-height: 1.8;
    margin-right: 150px;
    margin-top: 35px;
  }
  .projectWrapper h2 {
    font-size: 64px;
    margin-top: 220px;
    margin-left: 200px;
  }
  .projectWrapper .titicon {
    width: 38px;
    top: -10px;
    left: 160px;
  }
  .projectWrapper .accountimg {
    width: 30vw;
    height: 30vw;
  }
  .projectWrapper .bigTitle {
    display: flex;
  }
  .projectWrapper .bigTitle:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .projectWrapper .bigTitle:nth-child(even) .accountimg {
    margin-left: 280px;
  }
  .projectWrapper .bigTitle:nth-child(odd) .accountimg {
    margin-right: 260px;
  }
  .projectWrapper .bigTitle:nth-child(even) .titleWrapper {
    margin-left: 80px;
  }
  .projectWrapper .bigTitle:nth-child(odd) .titleWrapper {
    margin-right: 120px;
  }
  .projectWrapper .bigTitle:nth-child(5) .accountimg {
    object-fit: inherit;
    background-color: transparent;
  }
  .projectWrapper .bigTitle:nth-child(6) .accountimg {
    object-fit: inherit;
    background-color: transparent;
  }
  .projectWrapper .titleWrapper {
    width: 30vw;
    margin-top: 200px;
  }
  .projectWrapper .titleWrapper h3 {
    font-size: 40px;
  }
  .projectWrapper .titleWrapper h6 {
    font-size: 24px;
    margin-top: 50px;
    width: 90%;
  }
  .projectWrapper .titleWrapper p {
    font-size: 18px;
    margin-top: 50px;
    width: 90%;
  }
  .projectWrapper .titleWrapper .viewBtn {
    margin-top: 150px;
    width: 10vw;
  }
  .projectWrapper .titleWrapper .viewBtn:hover {
    background-color: #000;
    color: #fff;
  }
}
